body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    background-color: #f7f3f9;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    max-width: 1000px; 
    width: 90%;     
    
    background-color: rgb(250, 207, 243); 
    
    padding: 15px; 
    gap: 15px; 
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container > div {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;   
    font-size: 16px; 
    text-align: center;
    border-radius: 4px;
}