
.container {
    max-width: 900px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #ffffff; 
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
}

.container > div {
    background-color: #fce7f6; 
    border: 1px solid #eccbe7;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.container h2 {
    font-size: 1.3em;
    color: #96669e; 
    margin-top: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #e0b3ec;
    padding-bottom: 5px;
    text-align: center; 
}

.container p {
    color: #444; 
    line-height: 1.6; 
}
