.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 20px auto; 
  background-color: rgb(233, 150, 236); 
  padding: 30px; 
}

.container div {
  background-color: #f1f1f1;
  flex-grow: 1; 
  flex-shrink: 1;
  min-width: 180px; 
  margin: 15px; 
  padding: 15px;
  text-align: left; 
  font-size: 1em; 
}