.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 20px auto; 
  background-color: rgb(233, 150, 236);
  padding: 10px; 
}

.container div {
  background-color: #f1f1f1;
  margin: 10px; 
  padding: 15px; 
}