.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(233, 150, 236);
}

.container div {
  background-color: #f1f1f1;
  flex-grow: 1; 
  width: 100px; 
  padding: 10px;
  text-align: center; 
  font-size: 30px;
}